<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Environmental Stewards, INC.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="inner">
					<h1>Environmental Stewards</h1>
					<p>Professional Chemical Lawn & Landscape Care</p>
				</div>
			</header>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="intro" class="main">
						<span class="icon fa-leaf major"></span>
						<h2>Welcome To Our Website!</h2>
						<p><strong>Environmental Stewards, Inc. provides custom spraying for all of your vegetatiom management needs. For more information, contact us. </strong></p>
						<ul class="actions">
						</ul>
					</section>

				<!-- Items -->
					<section class="main items">
						<article class="item">
							<header>
								<a href="#" onClick="return false;"><img src="images/pic04.jpg" alt="" /></a>
								<h3>Roadsides / Natural Areas</h3>
							</header>
							<p><strong>Selective weed control and vegetation management on roadsides and natural areas. 
							Bare ground vegetation control using appropriate and environmentally sound herbicide practices.</strong></p>
							<ul class="actions">
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#" onClick="return false;"><img src="images/water.jpg" alt="" /></a>
								<h3>Aquatic's</h3>
							</header>
							<p><strong>Selective vegetation control, using approved aquatic herbicides, harmless to fish and amphibians, on retention ponds, farm ponds, and water ways.</strong></p>
							<ul class="actions">
							</ul>
						</article>
						<article class="item">
							<header> 
								<a href="#" onClick="return false;"><img src="images/field.jpg" alt="" /></a>
								<h3>Athletic Fields</h3>
							</header>
							<p><strong>Selective weed control and bare ground maintenance on athletic fields</strong></p>
							<ul class="actions">
							</ul>
						</article>
						<article class="item">
							<header>
								<a href="#" onClick="return false;"><img src="images/aircraft.jpg" alt="" /></a>
								<h3>School / Airport Grounds</h3>
							</header>
							<p><strong>Growth regulation and retardation on unwanted vegetation</strong></p>
							<ul class="actions">
							</ul>
						</article>
					</section>

				<!-- CTA -->
					<section id="cta" class="main special">
						<h2>Dr. Garry Seitz</h2>
						<p><strong>Dr. Garry has been in the “Green” industry for over 45 plus years, establishing new turf grass and landscapes, controlling vegetation/ weeds in home lawns, sod, athletic and airport fields and roadsides. He is a practical Ph.D. with that degree from the University of Florida. His expertise spans the diagnosis of problems to the solution of such. Dr. Garry has been employed as a trainer and technical consultant by the largest chemical lawn care company in the United States. He is also adept at employee training for other “Green” industry companies and has done agronomic consulting throughout the Southeast.</strong></p>
						
						<p><strong>*Licenses in Aquatics, Right-of-Way, Lawn and Ornamentals.</strong></p>
						<ul class="actions">
						</ul>
					</section>

				<!-- Main -->
				<!--
					<section id="main" class="main">
						<header>
							<h2>Lorem ipsum dolor</h2>
						</header>
						<p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus non ornare. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam eget neque id metus gravida tristique ac quis erat. Aenean quis aliquet sem. Ut ut elementum sem. Suspendisse eleifend ut est non dapibus. Nulla porta, neque quis pretium sagittis, tortor lacus elementum metus, in imperdiet ante lorem vitae ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
					</section>
				-->

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" onClick="return false;" class="icon fa-phone"><span class="label"></span> </a><b>863-607-9038</b></li>
							<li><a href="#" onClick="return false;" class="icon fa-envelope"><span class="label"></span> </a><b>gseitz8426@gmail.com</b></li>
						</ul>
						<p class="copyright">&copy; Environmental Stewards, Inc | Built by Joshua Seitz</p>
						<p>For custom build website, contact <b>seitzjoshua2@gmail.com</b></p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>